[MARS_configuration]
server = cherrypy
host = sfx1.vbi.vt.edu
host2 = edisondev.vbi.vt.edu
host3 = localhost
port = 9001
port2 = 9002
port3 = 38080
port4 = 9003
port5 = 8080
database = /home/sipcinet/edison/graphservices/database/Edison2.db
index1 = /home/sipcinet/edison/graphservices/query/index1_2/
index2 = /home/sipcinet/edison/graphservices/query/index2_2/
query = /home/sipcinet/edison/graphservices/query/
workflow = C:/Users/Sherif/WaveMaker/StudioDesktop/7.7.0/studioWorkSpace/workspace/default/projects/NEMO/src/main/webapp/resources/images/plots/
uploadfile = /home/sipcinet/edison/graphservices/files/
qsub = /home/sipcinet/edison/graphservices/qsub/
code = /home/sipcinet/edison/graphservices/code/
graph = /home/sipcinet/edison/graphservices/graphs/
output = /home/sipcinet/edison/graphservices/output/
qlog=/home/sipcinet/edison/graphservices/qlog/
storage_notify=True