[MARS_configuration]
server = cherrypy
host =localhost
port = 8082
port2 = 8081
port3 = 9001
port4 = 8080
database = d:/database/new/Edison.db
index1 = /home/sipcinet/edison/graphservices/query/index1/
index2 = /home/sipcinet/edison/graphservices/query/index2/
query = /home/sipcinet/edison/graphservices/query/
workflow = C:/Users/Sherif/WaveMaker/StudioDesktop/7.7.0/studioWorkSpace/workspace/default/projects/NEMO/src/main/webapp/resources/images/plots/
uploadfile = /home/sipcinet/edison/graphservices/files/
qsub = /home/sipcinet/edison/graphservices/qsub/
code = /home/sipcinet/edison/graphservices/code/
graph = /home/sipcinet/edison/graphservices/graphs/
output = /home/sipcinet/edison/graphservices/output/